In [101]:
import pandas as pd 
from glob import glob
import os

import warnings
warnings.filterwarnings("ignore")

In [103]:
path = "D:\pnj.com.vn\HuynhTN - Documents\Data\DataBI"
files_Dthu = glob(os.path.join(path, "Dthu\\*.csv"))
files_CP = glob(os.path.join(path, "CP\\*.csv"))
files_Others = glob(os.path.join(path, "Others\\*.csv"))
files_SLBan = glob(os.path.join(path, "SLBan\\*.csv"))
files_TK = glob(os.path.join(path, "TK\\*.csv"))

# Cphi

In [161]:
df_cp = pd.concat([pd.read_csv(file, encoding='utf-8', sep=',', header=0) for file in files_CP])
df_cp["Month year"] = pd.to_datetime(df_cp["Month year"]).dt.strftime('%m-%Y')
df_cp.head()

,Company Code,Month year,Plant Code,GL Account Code,GL LV1 Name,FM. Loc Amt,PnL Name,Cost Center Code
0,1000,01-2022,1013,64130110,CP CCDC,-552500.0,Chi phí bán hàng,1.015201e+09
1,1000,01-2022,1013,64130140,CP CCDC,-4387500.0,Chi phí bán hàng,1.015201e+09
2,1000,01-2022,1013,64140110,CP KH TSCĐ,-3336389.0,Chi phí bán hàng,1.015201e+09
3,1000,01-2022,1013,64140130,CP KH TSCĐ,-1533889.0,Chi phí bán hàng,1.015201e+09
4,1000,01-2022,1115,64110100,CP Nhân viên,-111131428.0,Chi phí bán hàng,1.028101e+09

# Dthu

In [ ]:
df = pd.concat([pd.read_csv(file, encoding='utf-8', sep=',', header=0) for file in files_Dthu])
df["Month year"] = pd.to_datetime(df["Month year"]).dt.strftime('%m-%Y')
lv2 = ["DÂY ĐỒNG HỒ", "MẮT KÍNH", "ĐỒNG HỒ"]
lv3 = ["CAO"]
lv4 = ["TRANH/TƯỢNG/BIỂU TƯỢNG", "VÀNG ÉP SIÊU PNJ", "VÀNG ÉP SIÊU SJC"]
account_code = [51131000, 51132000]

df_tsv = df.copy()
df_tsv = df_tsv[~df_tsv["Product Group 2 Name"].isin(lv2)]
df_tsv = df_tsv[~df_tsv["Product Group 3 Name"].isin(lv3)]
df_tsv = df_tsv[~df_tsv["Product Group 4 Name"].isin(lv4)]
df_tsv = df_tsv[~df_tsv["GL Account Code"].isin(account_code)]

# df_tsv.groupby(by=['Month year'])[["FM 01_Invoices Revenue", "FM 07_Gross Profit"]].sum()

df_vm = df.copy()
df_vm = df_vm[df_vm["Product Group 4 Name"].isin(lv4)]

# df_vm.groupby(by=['Month year'])[["FM 01_Invoices Revenue", "FM 07_Gross Profit"]].sum()

,Company Code,Month year,Product Group 2 Code,Product Group 3 Code,Product Group 4 Code,Plant Code,Channel Description,FM 01_Invoices Revenue,FM 07_Gross Profit,Product Group 2 Name,Product Group 3 Name,Product Group 4 Name,GL Account Code
539,1000,01-2021,PG,PGG,PGGT0,1115,NaN,NaN,-6051604.0,VÀNG,VÀNG,VÀNG ÉP SIÊU PNJ,63290100
540,1000,01-2021,PG,PGG,PGGT0,1115,Retail,269187000.0,269187000.0,VÀNG,VÀNG,VÀNG ÉP SIÊU PNJ,51121000
541,1000,01-2021,PG,PGG,PGGT0,1115,Retail,NaN,-256188187.0,VÀNG,VÀNG,VÀNG ÉP SIÊU PNJ,63210200
542,1000,01-2021,PG,PGG,PGGT0,1255,NaN,NaN,-4714538.0,VÀNG,VÀNG,VÀNG ÉP SIÊU PNJ,63290100
543,1000,01-2021,PG,PGG,PGGT0,1255,Retail,156585000.0,156585000.0,VÀNG,VÀNG,VÀNG ÉP SIÊU PNJ,51121000

In [ ]:
df = pd.read_csv(files_Dthu[-1], encoding='utf-8', sep=',', header=0)
df["Month year"] = pd.to_datetime(df["Month year"]).dt.strftime('%m-%Y')
lv2 = ["DÂY ĐỒNG HỒ", "MẮT KÍNH", "ĐỒNG HỒ"]
lv3 = ["CAO"]
lv4 = ["TRANH/TƯỢNG/BIỂU TƯỢNG", "VÀNG ÉP SIÊU PNJ", "VÀNG ÉP SIÊU SJC"]
account_code = [51131000, 51132000]
df_tsv = df[~df["Product Group 2 Name"].isin(lv2)][~df["Product Group 3 Name"].isin(lv3)][~df["Product Group 4 Name"].isin(lv4)][~df["GL Account Code"].isin(account_code)]
df_vm = df[df["Product Group 4 Name"].isin(lv4)]

# Dthu, LG TSV
DT_TSV = f'{df_tsv["FM 01_Invoices Revenue"].sum() / 1e9 :.2f}'
LG_TSV = f'{df_tsv["FM 07_Gross Profit"].sum() / 1e9 :.2f}'
print(DT_TSV, LG_TSV)

# Dthu, LG VM
DT_VM = f'{df_vm["FM 01_Invoices Revenue"].sum() / 1e9 :.2f}'
LG_VM = f'{df_vm["FM 07_Gross Profit"].sum() / 1e9 :.2f}'
print(DT_VM, LG_VM)

213.28 50.16
25.34 2.46

In [122]:
col = ["Product Group 2 Name", "Product Group 3 Name", "Product Group 4 Name", "Month year", "Plant Code", "Channel Description", "FM 01_Invoices Revenue", "FM 07_Gross Profit"]
df_tsv = df_tsv[col]
df_tsv.head()

,Product Group 2 Name,Product Group 3 Name,Product Group 4 Name,Month year,Plant Code,Channel Description,FM 01_Invoices Revenue,FM 07_Gross Profit
0,LOẠI KHÁC,MISCELLANEOUS,BÁCH HÓA TỔNG HỢP,01-2021,1447,Retail,140000.0,25200.0
3,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1256,Online,306728.0,55211.0
5,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1256,Retail,178855.0,32194.0
7,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1277,Retail,1921854.0,345934.0
10,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1279,Retail,1217356.0,219124.0

In [155]:
# extract year from series
y = pd.to_datetime(df_tsv["Month year"]).dt.year.unique()
y

# filter by year in list
df_tsv[df_tsv["Month year"].str.contains('|'.join(map(str, y)))]
# df_tsv["Month year"].dt.year()
# pd.to_datetime(df_tsv["Month year"].unique(), format='%m-%Y').dt.strftime('%Y')

,Product Group 2 Name,Product Group 3 Name,Product Group 4 Name,Month year,Plant Code,Channel Description,FM 01_Invoices Revenue,FM 07_Gross Profit
0,LOẠI KHÁC,MISCELLANEOUS,BÁCH HÓA TỔNG HỢP,01-2021,1447,Retail,140000.0,25200.0
3,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1256,Online,306728.0,55211.0
5,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1256,Retail,178855.0,32194.0
7,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1277,Retail,1921854.0,345934.0
10,LOẠI KHÁC,SERVICE,SERVICE,01-2021,1279,Retail,1217356.0,219124.0
...,...,...,...,...,...,...,...,...
3841,THAU / HỢP KIM,THAU / HỢP KIM,TRANG SỨC KHÔNG GẮN ĐÁ,01-2025,1565,Online,313409.0,NaN
3842,THAU / HỢP KIM,THAU / HỢP KIM,TRANG SỨC KHÔNG GẮN ĐÁ,01-2025,1575,Retail,318182.0,NaN
3843,THAU / HỢP KIM,THAU / HỢP KIM,TRANG SỨC KHÔNG GẮN ĐÁ,01-2025,1634,Online,318182.0,NaN
3844,THAU / HỢP KIM,THAU / HỢP KIM,TRANG SỨC KHÔNG GẮN ĐÁ,01-2025,1634,Retail,318182.0,NaN
3845,THAU / HỢP KIM,THAU / HỢP KIM,TRANG SỨC KHÔNG GẮN ĐÁ,01-2025,1644,Retail,636364.0,NaN